__pycache__/
*.py[cod]
*$py.class

# Archivos generados localmente por los notebooks de Practica3
Practica3/documentos_sin_preprocesar.txt
Practica3/documentos_preprocesados.txt
Practica3/consultas_sin_preprocesar.txt
Practica3/consultas_preprocesadas.txt
Practica3/query.text